
  <head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <title>StarWorld</title>
  </head>
<body>
  <div class="accordian">
      <ul>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=white+collar">White Collar</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=white+collar">
    				<img src="https://assets.change.org/photos/8/si/ml/CQsiMLwRWLgwTuh-800x450-noPad.jpg?1484810162" width="805px" height="320px"/>
    			</a>
    		</li>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=proven+innocent">Proven Innocent</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=proven+innocent">
    				<img src="https://m.media-amazon.com/images/M/MV5BYjkyMGVmNTctYTIwZS00ZDQ2LTliNDAtMmYzYWZjNDRkNTQ5XkEyXkFqcGdeQXVyNTM0NTU5Mg@@._V1_.jpg" width="805px" height="320px"/>
    			</a>
    		</li>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=koffee+with+karan">Koffee with Karan</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=koffee+with+karan">
    				<img src="https://images.indianexpress.com/2018/10/koffee-with-karan-7591.jpg" width="805px" height="320px"/>
    			</a>
    		</li>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=modern+family">Modern Family</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=modern+family">
    				<img src="https://cdn1.edgedatg.com/aws/v2/abc/ModernFamily/showimages/c3685b492d76239ef30099b998092298/1200x627-Q80_c3685b492d76239ef30099b998092298.jpg" width="805px" height="320px"/>
    			</a>
    		</li>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=how+i+met+your+mother">How I Met Your Mother</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=how+i+met+your+mother">
    				<img src="https://m.media-amazon.com/images/M/MV5BZWJjMDEzZjUtYWE1Yy00M2ZiLThlMmItODljNTAzODFiMzc2XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg" width="805px" height="320px"/>
    			</a>
    	</li>
  	</ul>
  </div>
</body>
