
  <head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>StarVijay</title>
  </head>
<body>
  <div class="accordian">
      <ul>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=big+boss+tamil">Big Boss Tamil</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=big+boss+tamil">
    				<img src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Kamal_BiggBoss.jpg?itok=O43Rt5Pg" width="805px" height="320px" />
    			</a>
    		</li>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=airtel+super+singer">Airtel Super Singer</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=airtel+super+singer" width="805px" height="320px">
    				<img src="https://i.ytimg.com/vi/Hh_LDRothdc/maxresdefault.jpg"/>
    			</a>
    		</li>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=mappillai">Mappillai</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=mappillai">
    				<img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d9/Mappillai_2011.jpg/220px-Mappillai_2011.jpg" width="805px" height="320px"/>
    			</a>
    		</li>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=super+snger+junior">Super Singer Junior</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=super+snger+junior" >
    				<img src="https://img1.hotstarext.com/image/upload/f_auto,t_hcdl/sources/r1/cms/prod/1919/71919-h" width="805px" height="320px"/>
    			</a>
    		</li>
    		<li>
    			<div class="image_title">
    				<a href="https://www.youtube.com/results?search_query=raja+rani">Raja Rani</a>
    			</div>
    			<a href="https://www.youtube.com/results?search_query=raja+rani">
    				<img src="https://secure-media1.hotstarext.com/r1/thumbs/PCTV/30/14230/PCTV-14230-hcdl.jpg" width="805px" height="320px"/>
    			</a>
    	</li>
  	</ul>
  </div>
</body>

