
  <head>
    <meta charset="utf-8">
    <title>Email</title>
    
  </head>
  <body>
  <form method="post" >
      
        <h2>ENTER THE DETAILS TO LOGIN</h2>
      
      <div class="division">
        <label class="first">
          <input  type="email"  placeholder="&nbsp;" required>
          <span class="label">Email Id</span>
        </label>
        <input id="next" type="submit" name="Next" value="Next" class="nav-link" routerLink="/password" routerLinkActive="active" >
        <p><i>Dont have an account?</i></p>
        <p id="register"><a class="nav-link" routerLink="/register" routerLinkActive="active" >Click Here To Register</a></p>
      </div>
    
  </form>
</body>
<!-- <router-outlet></router-outlet> -->
