body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #ccffcc;
    font-size: 50px;
  }
#feedback{
    font-size:50px;
}
#shloka{
    font-size:50px;
}