
  <head>
    <meta charset="utf-8">
    <title>Password</title>

  </head>
  <body>
  <form >
    
      <p>ENTER THE DETAILS TO LOGIN</p>
      <div class="division">
        <label class="first">
          <input  type="password"  placeholder="&nbsp;" required>
          <span class="label">Password</span>
        </label>
        <input id="next" type="submit" name="Next" value="Next" class="nav-link" routerLink="/first" routerLinkActive="active">
      </div>
     
   
  </form>
</body>
  

