body{
    text-align: center;
    border: solid;
    margin-top:200px;
    margin-left:400px;
    margin-right: 400px;
    margin-bottom: 50px;
    border-color: #003300;
    padding:50px;
    background-color: #e6ffe6;
  }
  .division{
    background-color: #b3ffb3;
  }
  #next{
    margin-left: 300px;
    margin-top: 20px;
    font-size: 17px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#006600;
    border-radius: 200px;
  }
  .first{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
  }
  .first .label {
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 15px;
    color: black;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }
  #register{
    color:#003300;
  }
  .first input {
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px ;
    height: 28px;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: black;
    transition: all 0.15s ease;
  }
  .first input:hover {
    background: rgba(34,50,84,0.03);
  }
  .first input:not(:placeholder-shown) + span {
    color: black;
    transform: translateY(-16px) scale(0.75);
  }
  .first input:focus {
    background: none;
    outline: none;
  }
  .first input:focus + span {
    color: black;
    font-size:30px;
    transform: translateY(-46px) scale(1);
  }
  