
<head>
	<title>Register</title>
</head>
<body>
	<form  >
		<div class="box">
			<h1><em>Register</em></h1>
			<!-- <p id='first'><strong>FIRST NAME</strong></p> -->
      <p id='first'><strong>FIRST NAME</strong></p>
			<p><input  id='entry' type="text" name="First Name" placeholder="Enter your First Name" required></p>
			<p id='last'><strong>LAST NAME</strong></p>
			<p><input  id='entry' type="text" name="Last Name" placeholder="Enter your Last Name" required></p>
			<p id='password'><strong>PASSWORD</strong></p>
			<p><input  id='entry' type="password" name="Password" placeholder="Enter your password" required></p>
			<p id='email'><strong>EMAIL ID</strong></p>
			<p><input  id='entry' type="email" name="Email Id" placeholder="Enter your Email Id" required></p>
			<p id='gender'><strong>GENDER</strong></p>
			<p><input type="radio" name="Gender">Female</p>
			<p><input type="radio" name="Gender">Male</p>
			<p><input type="submit" name="Submit"  value="Register" class="nav-link" routerLink="/first" routerLinkActive="active"></p>
		</div>
	</form>
</body>

